body{
    font-family: "Roboto", sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
}
.home {
    width: 123px;
    height: 40px;
    background-color: white;
    border: 2px solid rgba(208, 208, 208, 1);
}
.home a{
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: black;
}
.title{
    font-size: 30px; 
    font-weight: 600;
}
.mainimg{
    display: flex;
    justify-content: flex-end;
    padding-right: 150px;
}
form{
    margin: 0px;
    padding: 0px;
} 
 .contactus{
    position: relative;
    bottom: 470px;
    left: 150px;
 }
.contactus label {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    font-weight: bold;
}

.contactus input[type="text"],
.contactus input[type="email"],
.contactus textarea {
    width: 400px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
}
.contactus button {
    position: relative;
    right: 415px;
    top: 40px;
    width: 400px;
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}
.contactus h2 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 24px;
    text-align: start;
}